/*! ARCHIVO DE ESTILOS GENERALES DEL SISTEMA COMPLETO */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.btn-blue {
    border-style: solid;
    border-width: 0.1em;
    border-color: #22577a;
    color: #22577a;
}
.btn-blue:hover {
    border-style: solid;
    border-width: 0.1em;
    border-color: #22577a;
    background-color: #22577a;
    color: white;
}
.btn-orange {
    border-style: solid;
    border-width: 0.1em;
    border-color: #e85d04;
    color: #e85d04;
}
.btn-orange:hover {
    border-style: solid;
    border-width: 0.1em;
    border-color: #e85d04;
    background-color: #e85d04;
    color: white;
}
.btn-red {
    border-style: solid;
    border-width: 0.1em;
    border-color: #a70c0c;
    color: #a70c0c;
}
.btn-red:hover {
    border-style: solid;
    border-width: 0.1em;
    border-color: #a70c0c;
    background-color: #a70c0c;
    color: white;
}