@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html,
body {
    overflow-x: hidden;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('/assets/img/fondo.jpg');
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
}

.navbar-brand {
    color: white;
}

.navbar-custom1 {
    margin: 10px auto 0;
    width: 95%;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(1px);
    border-radius: 15px;
    z-index: 99;
}

.navbar-custom2 {
    margin: 10px auto 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0);
    backdrop-filter: blur(0px);
    border-radius: 15px;
    z-index: 99;
}

.color-drop {
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(1px);
}

.custom-fondo {
    background: #fe8c00;
    background: -webkit-linear-gradient(to left, #f83600, #fe8c00);
    background: linear-gradient(to left, #f83600, #fe8c00);
}

.custom-fondo-admin {
    background: #FFE000;
    background: -webkit-linear-gradient(to right, #799F0C, #FFE000);
    background: linear-gradient(to right, #799F0C, #FFE000);
}

#lenguajes i {
    font-size: 1.6em;
    padding: 0 5px 0 5px;
}

th,
td {
    vertical-align: middle;
    font-size: 0.8em;
}

#libro_view {
    transition: transform 0.3s ease;
}

#libro_view:hover {
    transform: scale(2.2);
}

.card-header h3 {
    text-align: center;
    font-weight: bold;
    color: white;
    letter-spacing: 2px;
}

table tbody tr td strong {
    color: #05ffa1;
}

table tbody tr td .uno {
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 1px;
    background-color: #05ffa1;
    border-radius: 15px;
    margin: 2px;
}

table tbody tr td .dos {
    color: #3e74e7;
    font-weight: bold;
    text-align: center;
}

table tbody tr td .pendiente {
    color: rgb(190, 55, 55);
    padding: 1px;
    margin: 1px;
}

.observacion {
    color: black;
    font-weight: bold;
    margin-top: 0;
    font-size: 0.8em;
    text-align: center;
    margin-bottom: 2px;
}

.control_pagina {
    margin-top: 3px;
}

.programador {
    color: white;
    font-weight: bolder;
}

#ImagenLibro {
    margin: auto;
    width: 200px;
    height: 275px;
}
